[submodule "zsh/.zsh/plugins/zsh-z"]
	path = zsh/.zsh/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule "zsh/.zsh/plugins/fzf-tab"]
	path = zsh/.zsh/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
